<% layout("./layouts/boilerplate") %>
<body>
    
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <!-- <div class="col-12 col-md-8 col-lg-6 text-dark"> -->
    <div class="card mb-4" style="width: 32rem;">
        <h4 class="ml-3"><%= listing.title %></h4>
        <div class="image-container">
            <img class="card-img-top" src="<%= listing.image.url %>" alt="Card image cap">
        </div>
        <div class="card-body">
            <p class="card-text"><%= listing.description %></p>
            <p class="price">&#8377;<%= listing.price.toLocaleString("en-IN") %>/night</p>
            <p class="location"><%= listing.location %></p>
            <p class="country"><%= listing.country %></p>
        </div>
        <div class="btn-container d-flex px-2">
            <form action="/listings/<%= listing._id %>/edit">
                <button type="submit" class="btn btn-danger btn-sm ml-1">Edit</button>
            </form>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-dark btn-sm  ml-4">Delete</button>
            </form>
        </div>

    </div>
</div>   
<!-- </div> -->

</body>
