<% layout("./layouts/boilerplate") %>
<body>
    
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-md-8 col-lg-8 text-dark">
    <div class="card mb-4 listing-card" >
        <h4 class="ml-3"><%= listing.title %></h4>
        <div class="image-container">
            <img class="card-img-top" src="<%= listing.image.url %>" alt="Card image cap">
        </div>
        <div class="card-body">
            <p class="card-text"><%= listing.description %></p>
            <p class="price">&#8377;<%= listing.price.toLocaleString("en-IN") %>/night</p>
            <p class="location"><%= listing.location %></p>
            <p class="country"><%= listing.country %></p>
        </div>
        <% if(currUser && currUser._id.equals(listing.owner._id)){%>
            <div class="btn-container d-flex px-2">
                <form action="/listings/<%= listing._id %>/edit">
                    <button type="submit" class="btn btn-danger btn-sm ml-1">Edit</button>
                </form>
                <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-dark btn-sm  ml-4">Delete</button>
                </form>
            </div>
          <% } %>
        <% if(currUser) {%>
        <div class="mt-4 ml-2">
            <h4>Leave the review</h4>
            <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">
                <div class="form-group">
                    <label for="rating">Rating</label>
                    <input type="range" min="1" max="5" id="rating" class="form-control-range" name="review[rating]">
                </div>
                <div class="form-group">
                    <label for="comment" class="form-lable">Comment</label>
                    <textarea name="review[comment]" class="form-control" id="comment" required></textarea>
                    <div class="invalid-feedback">
                        Please add comment for review.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <button type="submit" class="btn btn-dark my-2 rounded p-2 w-100 ">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <% } %>
        <h4 class="pl-2"> All Reviews</h4>
        <div class="row ">
            <% for(let review of listing.reviews){%>
                <div class="card col-10 col-lg-5 ml-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">@<%= review.author.username %></h5>
                    <% for(let i=0;i<review.rating;i++){ %>
                        <i class="fas fa-star text-warning"></i>
                    <% } %>
                    <p class="card-text"><%= review.comment %></p>
                    <% if(currUser && review.author._id.equals(currUser._id)) {%>
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-dark btn-sm ">Delete</button>
                    </form>
                    <% } %>
                </div>
                </div>
                <% } %>

            
        </div>

    </div>
</div> 

</div>

</body>
